select {
  margin: 4px;
  background-color: #2980b9;
  color: #fff;
  font-size: 16px;
  padding: 0.5em 2.5em 0.5em 0.5em;
  border: none;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  cursor: pointer;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 4px;
}

.custom-dropdown::after {
  content: "🔽";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(0,0,0,0.4);
  font-size: 0.7em;
}
